body {
    font-family: 'outfit'; 
    background-color: var(--neutral-dark)
}





main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nft-card {
    width: 350px;
    background-color: var(--neutral-medium);
    padding: 25px;
    border-radius: 10px;

}




.nft-card .image-link .image{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.nft-card .image-link {
    position: relative;
    display: flex;
}


.nft-card .image-link::before{
    content: '';
    background-color: var(--primary-medium);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}
.nft-card .image-link::after {
    content: '';
    background-image: url(../icons/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;  
    opacity: 0;
}
.nft-card .image-link:hover::before
{
    opacity: 0.4;
}
.nft-card .image-link:hover::after{
    opacity: 1;
}
 
.nft-card .title {
    margin: 30px 0px 30px;
    font-size: 26px;
    color: #ffffff;
    font-weight: 400;
}
.nft-card .title:hover {
    color: var(--primary-medium);
}

.nft-card .description{
    margin: 30px 0px 30px;
    font-size: 18px;
    color: var(--primary-soft)
}
.nft-card .info {
    display: flex;
    justify-content: space-between;
    color: var(--primary-soft)
}
.nft-card .info .price { 
    color: var(--primary-medium);
    display: flex;
    
}
.nft-card .info .price::before{
    content: url(../icons/icon-ethereum.svg);
    width: 10px;
    height: 10px;
    padding-right: 8px;
}
.nft-card .info .days-left {
    display: flex;
}
.nft-card .info .days-left::before {
    content: url(../icons/icon-clock.svg);
    padding-top: 1px;
    padding-right: 5px;
}

 .nft-card .creation {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 20px 0px 20px;
    border-top: 1px solid var(--neutral-soft);
}
.nft-card .creation .avatar{
    width: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.nft-card .creation .creator {
    padding-left: 20px;
    color: var(--primary-soft);
}
.nft-card .creation .creator .name{
    color: #ffffff;
}
 .nft-card .creation .creator .name:hover {
    color: var(--primary-medium);
}